<body>
    <header>
        <div class="container">

            <nav class="navbar">
                <div class="header-container">
                    <span class="logo-1">Vatafu</span>
                    <span class="logo-2">Stefan</span>
                    <span class="logo-3">Journey</span>
                </div>
                <ul class="navbar-components">
                    <li><a (click)="scrollToAbout()">About</a></li>
                    <li><a (click)="scrollToSkills()">Skills</a></li>
                    <li><a (click)="scrollToProjects()">Projects</a></li>
                    <li><a (click)="scrollToTheRoad()">The Road</a></li>
                    <li>Contacts</li>
                </ul>
            </nav>
        </div>
    </header>
</body>