<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<app-navigationbar></app-navigationbar>

<body class="container">
    <!--About-->
    <section class="start" id="aboutSection">
        <ul class="socialmedia">
            <li>
                <a href="https://www.instagram.com/vatafu.s/?hl=ro" class="fa fa-instagram"></a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/stefan-vatafu-435407186/" class="fa fa-linkedin"></a>
            </li>
            <li>
                <a href="https://github.com/Vatafus" class="fa fa-github"></a>
            </li>
        </ul>
        <div class="userprofile hide-details" #userBox>
            <img src="/assets/PozaProfil.jpg" (click)="openinfo()">
            <div class="info">
                <h1>Vatafu Stefan</h1>
                <p>Born: 02.09</p>
                <p>From: Bucharest, Romania</p>
                <a href="#">Connect with me</a>
            </div>
            <div class="closeicon" (click)="closeinfo()"></div>
        </div>
        <div class="lifemotto">
            <h2>Life Motto</h2>
            <p>“Creating opportunities means looking where others are not” - Mark Cuban</p>
        </div>
        <div *ngIf="!detailsOpen" class="arrow"></div>
        <div *ngIf="detailsOpen" class="arrow2"></div>
    </section>
    <!--Skills-->
    <section class="skills" id="skills">
        <div>
            <h1>My Skills</h1>
            <p>Below you can find both the skills and the level that I think I have for each of them.</p>
            <div class="row">
                <!--Left Section-->
                <section class="col">
                    <div class="sub-title">
                        <h2>Front-End Skills</h2>
                    </div>
                    <div class="skills-backend">
                        <div class="skill">
                            <div class="subject">HTML</div>
                            <div class="progress-bar" value="60%">
                                <div class="progress-line" style="max-width: 60%"></div>
                            </div>
                        </div>
                        <div class="skill">
                            <div class="subject">CSS</div>
                            <div class="progress-bar" value="50%">
                                <div class="progress-line" style="max-width: 50%"></div>
                            </div>
                        </div>
                        <div class="skill">
                            <div class="subject">TypeScript</div>
                            <div class="progress-bar" value="30%">
                                <div class="progress-line" style="max-width: 30%"></div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--Right Section-->
                <section class="col">
                    <div class="sub-title">
                        <h2>Back-End Skills</h2>
                    </div>
                    <div class="skills-backend">
                        <div class="skill">
                            <div class="subject">Java</div>
                            <div class="progress-bar" value="60%">
                                <div class="progress-line" style="max-width: 60%"></div>
                            </div>
                        </div>
                        <div class="skill">
                            <div class="subject">Spring</div>
                            <div class="progress-bar" value="40%">
                                <div class="progress-line" style="max-width: 40%"></div>
                            </div>
                        </div>
                        <div class="skill">
                            <div class="subject">SQL/MySQL</div>
                            <div class="progress-bar" value="70%">
                                <div class="progress-line" style="max-width: 70%"></div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
    <!--Projects-->
    <section class="projects" id="projects">
        <h1 class="title">Projects Comming Soon</h1>
        <div class="experience-details-container">
            <div class="about-containers">
                <div class="details-container color-container">
                    <div class="article-container">
                        <!-- <img src="" alt="Project 1" class="project-img" /> -->
                    </div>
                    <h2 class="experience-sub-title project-title">Project One</h2>
                    <div class="btn-container">
                        <button class="btn btn-color-2 project-btn" onclick="location.href=''">
                            Github
                        </button>
                        <button class="btn btn-color-2 project-btn" onclick="location.href=''">
                            Live Demo
                        </button>
                    </div>
                </div>
                <div class="details-container color-container">
                    <div class="article-container">
                        <!-- <img src="" alt="Project 2" class="project-img" /> -->
                    </div>
                    <h2 class="experience-sub-title project-title">Project Two</h2>
                    <div class="btn-container">
                        <button class="btn btn-color-2 project-btn" onclick="location.href=''">
                            Github
                        </button>
                        <button class="btn btn-color-2 project-btn" onclick="location.href=''">
                            Live Demo
                        </button>
                    </div>
                </div>
                <div class="details-container color-container">
                    <div class="article-container">
                        <!-- <img src="" alt="Project 3" class="project-img" /> -->
                    </div>
                    <h2 class="experience-sub-title project-title">Project Three</h2>
                    <div class="btn-container">
                        <button class="btn btn-color-2 project-btn" onclick="location.href=''">
                            Github
                        </button>
                        <button class="btn btn-color-2 project-btn" onclick="location.href=''">
                            Live Demo
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--The Road-->
    <section class="theroad" id="theroad">
        <h1>My road so far</h1>
        <div class="timeline">
            <div class="container-timeline left-container">
                <img class="imgtimeline" src="/assets/RM.png">
                <div class="text-box">
                    <h2>Regina Maria</h2>
                    <small>2022 - Current</small>
                    <p>Role: IT Consultant</p>
                    <ul>
                        <li>Making different reports by writing SQL queries, using different data from several systems
                            through a Data Lake, and giving there queries to the BI team who will implement them in
                            Qlik.</li>
                        <li>I'm working with technologies like Dynamics 365 from Microsoft, where I take the business
                            requirements, analyze them
                            and adapt them in a technical way, presenting these requests to the development team.</li>
                        <li>During the development I ensure the support of the technical team and I also deal with the
                            testing part of the new
                            functionalities.</li>
                        <li>Organization of the team and the test plan.</li>
                        <li>The constant update of the implementation plan.</li>
                        <li>Ensuring post-implementation support.</li>
                        <li>Microsoft SQL Server operation:
                            <ul>
                                <li>Correction in the database of certain records.</li>
                                <li>Implementation of different jobs.</li>
                                <li>Verification of various data.</li>
                            </ul>
                        </li>
                    </ul>
                    <span class="left-container-arrow"></span>
                </div>
            </div>
            <div class="container-timeline right-container">
                <img class="imgtimeline" src="/assets/RM.png">
                <div class="text-box">
                    <h2>Regina Maria</h2>
                    <small>2021 - 2022</small>
                    <p>Role: Software Analyst</p>
                    <ul>
                        <li>I'm working in Microsoft Dynamics like CRM, and SQL. I provide technical support to my
                            colleagues
                            from the rest of the
                            departments who use CRM Dynamics 365.</li>
                    </ul>
                    <span class="right-container-arrow"></span>
                </div>
            </div>
            <div class="container-timeline left-container">
                <img class="imgtimeline" src="/assets/RM.png">
                <div class="text-box">
                    <h2>Regina Maria</h2>
                    <small>2021 - 2021</small>
                    <p>Role: Intern</p>
                    <span class="left-container-arrow"></span>
                </div>
            </div>
        </div>
    </section>
    <section class="contact" id="contact">
        <div class="contact-container">
            <form action="https://api.web3forms.com/submit" method="POST" class="contact-left">
                <div class="contact-left-title">
                    <h2>Get in Touch</h2>
                    <hr>
                </div>
                <input type="hidden" name="access_key" value="2250fa87-af07-45c3-86ec-0a2c19d44c1f">
                <input type="text" name="name" placeholder="Your Name" class="contact-inputs" required>
                <input type="email" name="email" placeholder="Your Email" class="contact-inputs" required>
                <textarea name="message" placeholder="Your Message" class="contact-inputs"></textarea>
                <button type="submit">Submit</button>
            </form>
            <div class="contact-right"></div>
        </div>
    </section>
    <footer class="footer">
        <p>Copyright &#169; 2024 Vatafu Stefan. All Rights Reserved.</p>
    </footer>
</body>

</html>