<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<app-navigationbar></app-navigationbar>

<body class="container">
    <section class="start">
        <ul class="socialmedia">
            <li>
                <a href="https://www.instagram.com/vatafu.s/?hl=ro" class="fa fa-instagram"></a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/stefan-vatafu-435407186/" class="fa fa-linkedin"></a>
            </li>
            <li>
                <a href="https://github.com/Vatafus" class="fa fa-github"></a>
            </li>
        </ul>
        <h1>Let's get STARTED</h1>
    </section>
</body>

</html>